<p-tabView (onChange)="onTabChange($event)">
  <p-tabPanel header="请购">
    <app-po-summary></app-po-summary>
  </p-tabPanel>
  <p-tabPanel header="上传">
    <app-file-upload></app-file-upload>
  </p-tabPanel>
  <p-tabPanel header="批准">
    <app-approve></app-approve>
  </p-tabPanel>
  <p-tabPanel header="To-Do">
    <app-to-do></app-to-do>
  </p-tabPanel>
  <p-tabPanel header="扫描">
    <app-scanner-input-container></app-scanner-input-container>
  </p-tabPanel>
  <p-tabPanel header="请购-Flat" [selected]="true">
    <app-flat-container></app-flat-container>
  </p-tabPanel>
</p-tabView>
