<div class="container-fluid">
  	<div class="row">
		<p-table
			[columns]="cols"
			[value]="poSummary"
			dataKey="id"
			[resizableColumns]="true"
			selectionMode="single"
			[(selection)]="selectedSummary"
			(onRowSelect)="onRowSelect($event)">
			<ng-template pTemplate="caption">
				<span class="text-white">请购汇总</span>
			</ng-template>
			<ng-template pTemplate="header" let-columns>
				<tr>
					<th style="width: 1.5em"></th>
					<th *ngFor="let col of columns" pResizableColumn>
						{{ col.header }}
					</th>
				</tr>
			</ng-template>
			<ng-template pTemplate="body"
				let-rowData
				let-expanded="expanded"
				let-columns="columns"
				[pSelectableRow]="rowData">
				<tr [pSelectableRow]="rowData">
					<td style="padding: 0">
						<a href="#" [pRowToggler]="rowData">
							<i [ngClass]="expanded ?
                        'fa fa-fw fa-chevron-circle-down' :
                        'fa fa-fw fa-chevron-circle-right'"></i>
						</a>
					</td>
					<td *ngFor="let col of columns" class="ui-resizable-column">
						{{ rowData[col.field] }}
					</td>
				</tr>
			</ng-template>
			<ng-template pTemplate="rowexpansion"
				let-rowData
				let-columns="columns">
				<tr>
					<td [attr.colspan]="columns.length + 1">
						<app-po-suggestion [poSummaryItem]="rowData"></app-po-suggestion>
						<p></p>
						<app-po-detail [poDetails]="rowData.deliveryDetails"></app-po-detail>
						<p></p>
						<app-price-quote [priceQuotes]="rowData.priceQuotes"></app-price-quote>
						<p></p>
					</td>
				</tr>
			</ng-template>
		</p-table>
	</div>
</div>
