<p-table
  [columns]="cols"
  [value]="poSummary"
  dataKey="id"
  [resizableColumns]="true"
  selectionMode="single"
  [(selection)]="selectedSummary"
  (onRowSelect)="onRowSelect($event)"
  (onRowUnselect)="onRowUnselect($event)"
  >
  <ng-template pTemplate="caption">
    <span class="text-white">请购汇总</span>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" pResizableColumn>
        {{ col.header }}
      </th>
    </tr>
  </ng-template>
  <ng-template
    pTemplate="body"
    let-rowData
    let-columns="columns"
    >
    <tr [pSelectableRow]="rowData">
      <td *ngFor="let col of columns" class="ui-resizable-column">
        <div
          [class.text-center]="helper.isBoolean(rowData[col.field])"
          [innerHTML]="helper.getCustomRender(rowData[col.field])">
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
