/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.css';
@import '~primeng/resources/themes/omega/theme.css';
@import '~primeng/resources/primeng.min.css';
/*
    @import does not work for font-awesome on stackblitz.
    must add it through side-bar's "external resources" link.
*/

/* @import '~font-awesome/css/font-awesome.css'; */

* {
  font-family: '微软雅黑', 'Microsoft YaHei', STXihei, '华文细黑', Georgia, 'Times New Roman', serif;
  font-size: 12px;
}

body {
  margin: 0.5rem;
}

.suggestion {
  font-size: 80%;
  color: darkblue;
}

app-po-summary .ui-table-caption.ui-widget-header {
  background: dimgray !important;
}

app-po-detail .ui-table-caption.ui-widget-header {
  background: darkgray !important;
}

app-price-quote .ui-table-caption.ui-widget-header {
  background: darkgray !important;
}

app-flat-summary .ui-table-caption.ui-widget-header {
  background: dimgray !important;
}

app-flat-detail .ui-table-caption.ui-widget-header {
  background: dimgray !important;
}

app-flat-quote .ui-table-caption.ui-widget-header {
  background: dimgray !important;
}

.ui-tabview-panel {
  padding: 0.25rem 0 0 0 !important;
}

.faded-row {
  opacity: 0.2;
}

.ngx-gallery-arrow {
  color: maroon !important;
}
