<div class="container-fuild">
  <div class="row">
    <div class="col">
      <app-scanner-input labelText="Bar Code / QR Code"></app-scanner-input>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-scanner-input labelText="电子磅读取"></app-scanner-input>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-scanner-input labelText="RFID"></app-scanner-input>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-primary btn-lg" (click)="onPrint()">
        <i class="fa fa-print fa-2x"></i>
      </button>
    </div>
  </div>
</div>
